{% style %}
  .f-button--scroll-top {
    position: fixed;
    right: 16px;
    bottom: 86px;
    z-index: 1000 !important;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    opacity: 0;
  }
  .f-button--scroll-top svg {
    transform: rotate(270deg);
  }

  .f-button--scroll-top.is-show {
    opacity: 1;
  }
{% endstyle %}
<button
  id="scroll-to-top-button"
  class="btn btn--primary f-button--scroll-top"
  aria-label="Scroll to Top">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none">
    <path
      d="M2.5 8H13.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round" />
    <path
      d="M9 3.5L13.5 8L9 12.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</button>
